
# mother main database
database        : 'sqlite3:/var/lib/mother/mother.db'

# port mother is listening to (http or https)
port            : 8080
# log level (accepted values: debug, info, warning, error, critical)
loglevel        : 'debug'
# logfile
logfile         : '/var/log/mother/mother.info'
# access log (apache common format)
accesslog       : '/var/log/mother/access.log'
# autoreload when source code change (for devel/debug only)
autoreload      : True
